* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  background-color: black;
  color: white;
}

h2.major-mono-display {
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;
}

span.sub-title {
  color: rgb(110, 110, 110);
}

.form-select {
  cursor: pointer;
}

.form-select:disabled {
  background-color: #e9ecef;
  opacity: 0.6;
  cursor: default;
}

.serial-port-select {
  background-color: black;
  color: rgb(230, 230, 230);
}

.canvas {
  height: 400px;
}


.button-connection {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #50529D;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 5px solid #50529D;
  transition: 0.5s ease;
  user-select: none;
}

.button-connection:hover {
  color: #ffffff;
  background: #50529D;
  border: 5px solid #50529D;
  text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
  box-shadow: 0 0 5px #50529D,
    0 0 20px #50529D,
    0 0 50px #50529D,
    0 0 100px #50529D;
}

@media (max-width: 768px) {
  .canvas {
    height: 300px;
  }
}

@media (max-width: 375px) {
  .canvas {
    height: 200px;
  }
}
