* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  background-color: black;
  color: white;
}

.major-mono-display {
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;
}

.major-mono-display-span {
  font-weight: 800;
  font-family: 'Major Mono Display', monospace;
}

span.sub-title {
  color: rgb(110, 110, 110);
}

span.angle {
  color: #50529D;
}

.form-select {
  cursor: pointer;
}

.form-select:disabled {
  background-color: #e9ecef;
  opacity: 0.6;
  cursor: default;
}

.canvas {
  height: 550px;
}

.custom-select {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.custom-select:disabled {
  color: gray;
  border-color: gray;
  background-color: transparent;
}

.custom-select option {
  background-color: rgb(110, 110, 110);
  color: white;
}

input.custom-select:disabled {
  border:2px solid white;
  color: #50529D;
}

.button-connection {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #50529D;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 5px solid #50529D;
  transition: 0.5s ease;
  user-select: none;
}

.button-connection:hover {
  color: #ffffff;
  background: #50529D;
  border: 5px solid #50529D;
  text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
  box-shadow: 0 0 5px #50529D,
    0 0 20px #50529D,
    0 0 50px #50529D,
    0 0 100px #50529D;
}

.button-connection:disabled {
  color: gray;
  border-color: gray;
}

.button-connection:disabled:hover {
  color: gray;
  background: transparent;
  border-color: gray;
  text-shadow: none;
  box-shadow: none;
}

.button-orbit {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #50529D;
  border: 2px solid white;
  transition: 0.5s ease;
  background: transparent;
  margin: 0 5px;
}

.button-orbit:hover {
  border: 2px solid #50529D;
}

.icon-left,
.icon-right {
  vertical-align: middle;
  margin-bottom: 2px;
}

.icon-left {
  margin-right: 6px;
}

.icon-right {
  margin-left: 6px;
}


.footer-section {
  min-height: 40px;
}

.footer-portfolio {
  color: #50529D;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

.footer-portfolio:hover {
  color: white;
}

@media (max-width: 1200px) {
  .custom-row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .canvas {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .canvas {
    height: 250px;
  }
}
