* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  background-color: black;
  color: white;
}

h2.major-mono-display {
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;
}

span.sub-title {
  color: rgb(110, 110, 110);
}

.form-select {
  cursor: pointer;
}

.form-select:disabled {
  background-color: #e9ecef;
  opacity: 0.6;
  cursor: default;
}

